<a href="https://colab.research.google.com/github/invoker-qqwrv/Beida_tensorflow/blob/main/1_6load_iris_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# features: 'Sepal length'花萼, 'Sepal width', 'Petal花瓣 length', 'Petal width'
# classes:0:setosa iris 1:versicolour iris 2:virginica iris 
# 可以从sklearn读入数据集
from sklearn import datasets
from pandas import DataFrame
import pandas as pd

x_data=datasets.load_iris().data## all features in datasets
y_data=datasets.load_iris().target#all labels of the datasets
print(x_data)
print(y_data)

In [8]:
# 接下来用dataframe变成表格的形式。每一列加一个标签
x_data=DataFrame(x_data,columns=['sepal length','sepal width','petal length','petal width'])
#设置列对齐
pd.set_option('display.unicode.east_asian_width',True)#T大写
print(x_data)

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [9]:
x_data['classes']=y_data
print(x_data)

     sepal length  sepal width  petal length  petal width  classes
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]